:root {
	--primary-color: #f40469;
}

* {
	margin: 0;
}
body {
	font-family: 'Jost', sans-serif;
}

/* Header Style */
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 15px 100px;
}
.header h2 {
	color: var(--primary-color);
	font-weight: 800;
}
.header button {
	border: none;
	cursor: pointer;
	font-weight: 700;
	background: none;
}
.header button:hover {
	background: var(--primary-color);
	padding: 1%;
	border-radius: 10px;
	color: white;
}

/* Banner Style */
.banner {
	background-image: url('/Images/Preset.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 500px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	text-align: center;
	padding: 20px;
}
.banner-content h4 {
	font-size: 40px;
	font-weight: 400;
	margin-bottom: 20px;
}
.banner-content .input-group-text {
	background: white;
	border-radius: 20px;
}
.banner-content .btn-outline-secondary {
	background: var(--primary-color);
	border: none;
	color: white;
	border-radius: 20px;
}
.location-icon {
	color: var(--primary-color);
	margin-right: 7px;
}

/* Feature section style */
.feature-section {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px;
	height: 100vh;
	gap: 40px;
}
.feature-section img {
	width: 50%;
}
.feature-text h3 {
	max-width: 18ch;
	line-height: 40px;
	letter-spacing: 0.3;
	margin: 25px 0;
}
.feature-text p {
	max-width: 40ch;
	margin-bottom: 30px;
}
.download-btn {
	background: var(--primary-color);
	padding: 12px;
	font-weight: 500;
	border: none;
	border-radius: 50px;
	color: white;
}
.download-btn:hover {
	background: red;
}

/* Restaurant style */
.restaurant-section {
	margin: 40px;
	max-width: 100vw;
}
.popular-text {
	display: flex;
	margin: 20px 0;
	justify-content: space-between;
}
.popular-text button {
	background: none;
	border: none;
}
.popular-text button:hover {
	color: var(--primary-color);
}
.restaurant-name {
	font-weight: 600;
	margin-top: 15px;
}
.delivery-details {
	display: flex;
	align-items: center;
	gap: 30px;
}
.restaurant-content {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	width: fit-content;
	column-gap: 45px;
	margin: auto;
	justify-content: center;
}
.restaurant-content > div:first-child {
	grid-row: span 2;
}
.restaurant-content img {
	width: 300px;
}
