:root {
	--primary-color: #f40469;
}

* {
	margin: 0;
}
body {
	font-family: 'Jost', sans-serif;
}
img {
	max-width: 100%;
}
.wrapper {
	max-width: 1580px;
	margin: 0 auto;
}

/* Header Style */
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 15px 100px;
}
.header h2 {
	color: var(--primary-color);
	font-weight: 800;
}
.header button {
	border: none;
	cursor: pointer;
	font-weight: 700;
	background: none;
}
.header button:hover {
	background: var(--primary-color);
	padding: 1%;
	border-radius: 10px;
	color: white;
}

/* Banner Style */
.banner {
	background-image: url('/Images/Preset.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 500px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	text-align: center;
	padding: 20px;
}
.banner-content h4 {
	font-size: 40px;
	font-weight: 400;
	margin-bottom: 20px;
}
.banner-content .input-group-text {
	background: white;
	border-radius: 20px;
}
.banner-content .btn-outline-secondary {
	background: var(--primary-color);
	border: none;
	color: white;
	border-radius: 20px;
}
.location-icon {
	color: var(--primary-color);
	margin-right: 7px;
}

/* Feature section style */
.feature-section {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10rem 0;
	padding: 1rem;
	gap: 40px;
}
.feature-section img {
	width: 50%;
}
.feature-text h3 {
	max-width: 18ch;
	line-height: 40px;
	letter-spacing: 0.3;
	margin: 25px 0;
}
.feature-text p {
	max-width: 40ch;
	margin-bottom: 30px;
}
.download-btn {
	background: var(--primary-color);
	padding: 12px;
	font-weight: 500;
	border: none;
	border-radius: 50px;
	color: white;
}
.download-btn:hover {
	background: red;
}

/* Restaurant style */
.restaurant-section {
	margin: 40px;
	max-width: 100vw;
}
.popular-text {
	display: flex;
	margin: 2rem auto;
	justify-content: space-between;
}
.popular-text button {
	background: none;
	border: none;
}
.popular-text button:hover {
	color: var(--primary-color);
}
.restaurant-name {
	font-weight: 600;
	margin-top: 15px;
}
.delivery-details {
	display: flex;
	align-items: center;
	gap: 30px;
}
.restaurant-content {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 45px;
	max-width: 100%;
	margin: 0 auto;
	padding: 10px;
}
.restaurant-content > div:first-child {
	grid-row: span 2;
}
.restaurant-content img {
	width: 400px;
}

/* Process section style */
.process-section {
	margin: 50px;
	width: 70%;
	margin: auto;
	text-align: center;
	margin-bottom: 60px;
}
.process-section h1 {
	margin: 70px 0;
}
.process-content {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 30px;
}
.process-details {
	text-align: center;
	border-radius: 10px;
	padding: 15px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.process-details i {
	font-size: 60px;
	color: var(--primary-color);
	margin-top: 20px;
	padding: 20px;
	background: #ffd0d8;
	border-radius: 120px 50px 50px 50px;
}
.process-details h5 {
	color: var(--primary-color);
	font-weight: 600;
	margin: 30px 0;
}

/* Extra section */
.design-container {
	background-image: url('/Images/Background.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin: 150px 60px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 300px;
	position: relative;
	color: white;
	padding: 20px;
	border-radius: 30px;
}
.design-container h2 {
	line-height: 1.5;
	letter-spacing: 3px;
	font-size: 40px;
	font-weight: 400;
	margin: 30px;
}
.app-btn > button:first-child {
	background: black;
	color: white;
	border-radius: 20px;
	padding: 9px;
	margin: 30px;
	font-weight: 600;
}
.app-btn > button:last-child {
	background: none;
	border: none;
	font-weight: 600;
	color: white;
	border-radius: 20px;
	padding: 9px;
}
.app-btn button:hover {
	background: var(--primary-color);
}

/* Review style */
.review-container {
	text-align: center;
	max-width: 60ch;
	margin: auto;
}
.review-container p {
	font-size: 13px;
}
.review-container h2 {
	margin: 25px;
}
.review-details {
	background-image: url('/Images/Rectangle.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 250px;
	color: white;
	margin: 60px 20px;
	border-radius: 30px;
}
.review-content {
	width: 40ch;
	margin: auto;
}
.review-content .empty {
	background: #c5cbd1;
	height: 75px;
	width: 75px;
	margin: 15px auto;
	border-radius: 50% 50%;
}
.review-content h6 {
	color: var(--primary-color);
	margin: 15px;
}
.company-logo {
	display: grid;
	gap: 10px;
	grid-template-columns: repeat(5, 1fr);
	width: 70%;
	margin: auto;
	align-items: center;
}

/* Footer style */
.footer-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 80px 0 30px 80px;
}
.footer-nav nav {
	display: flex;
	gap: 20px;
	z-index: 1;
}
.footer-nav h2 {
	color: var(--primary-color);
	font-weight: 800;
}
.footer-nav a {
	text-decoration: none;
	color: black;
	font-weight: 700;
}
.footer-details {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	background: #f8f9fa;
	padding: 50px;
	margin: auto;
	max-width: 100vw;
	position: relative;
}
.footer-details a {
	text-decoration: none;
	color: black;
}
.nav-item {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	min-width: 70ch;
	gap: 30px;
	font-size: 12px;
	z-index: 1;
}
.nav-item ul li {
	list-style-type: none;
	line-height: 2;
}
.footer-ornaments .ornament {
	position: absolute;
	bottom: 0;
	right: 0;
}
.footer-ornaments img {
	width: 400px;
}
