:root {
	--primary-color: #f40469;
}

* {
	margin: 0;
}
body {
	font-family: 'Jost', sans-serif;
}

/* Header Style */
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 15px 100px;
}
.header h2 {
	color: var(--primary-color);
	font-weight: 800;
}
.header button {
	border: none;
	cursor: pointer;
	font-weight: 700;
	background: none;
}
.header button:hover {
	background: var(--primary-color);
	padding: 1%;
	border-radius: 10px;
	color: white;
}

/* Banner Style */
.banner {
	background-image: url('/Images/Preset.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 500px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	text-align: center;
	padding: 20px;
}
.banner-content h4 {
	font-size: 40px;
	font-weight: 400;
	margin-bottom: 20px;
}
.banner-content .input-group-text {
	background: white;
	border-radius: 20px;
}
.banner-content .btn-outline-secondary {
	background: var(--primary-color);
	border: none;
	color: white;
	border-radius: 20px;
}
.location-icon {
	color: var(--primary-color);
	margin-right: 7px;
}
